body {
	background-color:#fff;
}

.begin{
	padding-top:0px;
 	text-align:center;
}

.hr{
 	padding-left:450px;
 	padding-right:450px;
	margin:0px;
}

.otvet{
	padding-left:500px;
    font-size:18px;
}

li{
	margin:0;
}
	
p{
 	padding-top:10px ;
 	margin:0px;
}
	
	